:root {
  --color-lightest: white;
  --color-mid: lightgray;
  --color-darkest: black;
  --color-accent: #5078f5;
  --container-width: 80em;
  --base-font-size: 16px;
  --font-scale-ratio: 1.25;
  --spacing-scale-ratio: 2;
  --paragraph-font-size: 1.25rem;
  --spacing-siblings: 1rem;
  --spacing-friends: calc(
    (var(--spacing-siblings) * pow(var(--spacing-scale-ratio), 1))
  );
  --spacing-housemates: calc(
    (var(--spacing-siblings) * pow(var(--spacing-scale-ratio), 2))
  );
  --spacing-townmates: calc(
    (var(--spacing-siblings) * pow(var(--spacing-scale-ratio), 3))
  );

  font-family: Arial, Helvetica, sans-serif;
  color: var(--color-darkest);
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  width: 100%;
}

html:has(body.no-scroll) {
  overflow: hidden;
}

html:not(:has(body.no-scroll)) {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  overflow-x: hidden;
  background-color: var(--color-lightest);
  font-size: var(--base-font-size);
}

h1,
h2,
h3,
label,
.logo {
  font-weight: 600;
  line-height: 125%;
  letter-spacing: calc(var(--paragraph-font-size) * 0.03);
}

h1,
.price {
  font-size: calc(var(--paragraph-font-size) * pow(var(--font-scale-ratio), 3));
}

h2 {
  font-size: calc(var(--paragraph-font-size) * pow(var(--font-scale-ratio), 2));
}

h3,
.logo {
  font-size: calc(var(--paragraph-font-size) * pow(var(--font-scale-ratio), 1));
}

a,
p,
button,
li,
label {
  font-size: var(--paragraph-font-size);
  letter-spacing: calc(var(--paragraph-font-size) * 0.025);
  line-height: 135%;
}

input,
select {
  font-size: calc(var(--paragraph-font-size) * 0.8);
  line-height: 135%;
  border: 1px solid var(--color-mid);
}

a:link,
button {
  transition: transform 500ms;
}
a:link:hover,
button:hover {
  transform: scale(1.05);
}

span.secondary {
  color: var(--gray700);
}

.no-scroll {
  height: 100%;
  overflow: hidden;
}

section {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  padding: var(--spacing-townmates) 0;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: var(--container-width);
  gap: var(--spacing-housemates);
}

header nav {
  display: flex;
  justify-content: space-between;
  padding: var(--spacing-siblings) var(--spacing-friends);
}

header ul {
  display: flex;
  gap: var(--spacing-siblings);
  list-style: none;
}

header a {
  color: inherit;
  text-decoration: none;
}

footer {
  display: flex;
  justify-content: center;
  padding: var(--spacing-housemates) var(--spacing-friends);
  background-color: var(--color-mid);
  color: var(--color-darkest);
}

.component {
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--spacing-friends);
  width: 100%;
}

#usp .wrapper,
#usp .image-container {
  grid-column: span 6;
}

.image-container img {
  width: 100%;
  height: 100%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  color: inherit;
  text-decoration: none;
  gap: var(--spacing-friends);
  padding: var(--spacing-friends);
  border-radius: var(--spacing-friends);
  border: 1px solid var(--color-mid);
}

#reviews .card,
#prices .card {
  grid-column: span 4;
}

.banner {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-friends);
  padding: var(--spacing-friends);
  border-radius: var(--spacing-friends);
  border: 1px solid var(--color-mid);
}

#contact .banner {
  grid-column: 3 / span 8;
}

.title {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-friends);
  width: 80%;
}

.title.left {
  align-items: start;
  text-align: left;
  width: 100%;
}

.highlight {
  color: var(--color-mid800);
}

button,
.button {
  font-weight: 600;
  color: var(--color-lightest);
  text-decoration: none;
  background: var(--color-darkest);
  border: 0px;
  border-radius: calc(var(--spacing-siblings) / 2);
  padding: var(--spacing-siblings) calc(var(--spacing-siblings) * 3);
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--spacing-friends);
}

.molecule {
  display: flex;
  gap: var(--spacing-siblings);
}

.molecule.vertical {
  flex-direction: column;
}

.molecule.liquid {
  justify-content: space-between;
  width: 100%;
}

@media screen and (max-width: 1280px) {
  :root {
    --paragraph-font-size: 1rem;
    --spacing-siblings: 0.75rem;
    --container-width: 60em;
  }
}

@media screen and (max-width: 960px) {
  :root {
    --container-width: 40em;
  }
  .container.post {
    width: var(--container-width);
  }
  .component {
    grid-template-columns: repeat(6, 1fr);
  }

  #usp .wrapper {
    align-items: center;
    text-align: center;
  }
  #usp ul {
    padding-left: 0;
  }
  #usp li {
    list-style: none;
  }
  #usp li::after {
    display: block;
    content: "•";
    color: var(--color-mid);
  }
  #usp ul li:last-child::after {
    content: "";
    display: inline;
  }

  #reviews .card,
  #prices .card,
  #contact .banner {
    grid-column: 2 / span 4;
  }
}

@media screen and (max-width: 640px) {
  :root {
    --paragraph-font-size: 0.875rem;
    --spacing-siblings: 0.5rem;
    --container-width: 30em;
  }
}

@media screen and (max-width: 480px) {
  :root {
    --container-width: 20em;
  }
  .component {
    grid-template-columns: repeat(4, 1fr);
  }

  #usp .wrapper,
  #usp .image-container,
  #reviews .card,
  #prices .card,
  #contact .banner {
    grid-column: span 4;
  }
}
